<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Получить список продуктов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Получить список продуктов</h1>
    <form action="/inv/getAllProducts" method="get" class="mt-4">
        <div class="mb-3">
            <label for="storeId" class="form-label">Введите ID магазина:</label>
            <input type="number" id="storeId" name="storeId" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Получить продукты</button>
    </form>
    <div class="text-center mt-4">
        <a href="/home" class="btn btn-secondary">Вернуться на главную</a>
        <a href="/logout" class="btn btn-secondary">Выйти с аккаунта</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>