<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Получить список продуктов</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<h1>Получить продукты</h1>
<form id="getAllProductsForm">
    <label for="storeId">Магазин:</label>
    <select id="storeId" name="storeId" required>
        <option th:each="store : ${stores}" th:value="${store.id}" th:text="${store.name}"></option>
    </select><br><br>

    <button type="button" onclick="submitGetAllProductsForm()">Получить продукты</button>
</form>

<div id="getAllProductsResult">
    <h2>Продукты в магазине:</h2>
    <ul>
        <li th:each="product : ${products}">
            <p>ID продукта: <span th:text="${product.productId}"></span></p>
            <p>Название: <span th:text="${product.productName}"></span></p>
            <p>Цена: <span th:text="${product.price}"></span></p>
            <p>Количество: <span th:text="${product.quantity}"></span></p>
        </li>
    </ul>
</div>

<script>
    function submitGetAllProductsForm() {
        const storeId = document.getElementById("storeId").value;

        $.ajax({
            url: "/inv/getAllProducts",
            type: "GET",
            data: {
                storeId: storeId
            },
            success: function(response) {
                console.log("Ответ сервера:", response);
                let resultHtml = "<h2>Продукты в магазине:</h2><ul>";
                response.forEach(product => {
                    resultHtml += `
                        <li>
                            <p>ID продукта: ${product.productId}</p>
                            <p>Название: ${product.productName}</p>
                            <p>Цена: ${product.price}</p>
                            <p>Количество: ${product.quantity}</p>
                        </li>
                    `;
                });
                resultHtml += "</ul>";
                document.getElementById("getAllProductsResult").innerHTML = resultHtml;
            },
            error: function(xhr) {
                console.error("Ошибка:", xhr.responseText);
                document.getElementById("getAllProductsResult").innerHTML = `
                    <p style="color: red;">Ошибка: ${xhr.responseText}</p>
                `;
            }
        });
    }
</script>
<br>
<a href="/home" style="text-decoration: none;">
    <button type="button">Домой</button>
</a>
<a href="/logout" style="text-decoration: none;">
    <button type="button">Выйти с аккаунта</button>
</a>
</body>
</html>