<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
</head>
<body>
<div class="container mt-5">
  <h1>Добро пожаловать!</h1>
  <div class="mt-4">
    <a href="/inv/getAllProductsForm" style="text-decoration: none;">
      <button type="button">Список продуктов</button>
    </a>
    <a href="/store/createStoreForm" style="text-decoration: none;">
      <button type="button">Создать магазин</button>
    </a>
    <a href="/inv/manageProductForm" style="text-decoration: none;">
      <button type="button">Управление продуктами</button>
    </a>

  </div>
</div>
<br>
<a href="/logout" style="text-decoration: none;">
  <button type="button">Выйти с аккаунта</button>
</a>
</body>
</html>