<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <style>
        .error-message {
            color: red;
            margin-bottom: 10px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h2>Вход</h2>
<form id="login-form">
    <div>
        <label>Логин:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div id="error-message" class="error-message"></div>
    <button type="submit">Войти</button>
    <br>
    <a href="/registration" style="text-decoration: none;">
        <button type="button">Регистрация</button>
    </a>
</form>

<script>
    $(document).ready(function() {
        $('#login-form').on('submit', function(event) {
            event.preventDefault();

            const username = $('#username').val();
            const password = $('#password').val();

            $.ajax({
                url: '/login',
                method: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: `username=${encodeURIComponent(username)}&password=${encodeURIComponent(password)}`,
                success: function(response, textStatus, jqXHR) {
                    window.location.href = '/home';
                },
                error: function(jqXHR, status, error) {
                    ('#error-message').text(jqXHR.responseText);
                }
            })
        });
    });
</script>
</body>
</html>