<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
</head>
<body>
<h2>Регистрация</h2>
<form th:action="@{/registration}" th:object="${account}" method="post">
  <div>
    <label>Логин:</label>
    <input type="text" th:field="*{username}" required/>
  </div>
  <br>
  <div>
    <label>Пароль:</label>
    <input type="password" th:field="*{password}" required/>
  </div>
  <br>
  <div>
    <button type="submit">Регистрация</button>
  </div>
</form>
</body>
</html>